{% extends "base.html" %}

{% block content %}
<div id="github-primary-langs">
  {% include "_gh_user_form.html" %}
  <br/>
  {% if data %}
    <h5>Primary languages in repos of {{ username }}</h5>
    <div class="graph"></div>
  {% endif %}
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<script type="text/javascript">
  {% if data %}
    Davis.github.forks("#github-primary-langs .graph", {{ json_languages|safe }});
  {% endif %}
</script>
{% endblock %}



