{% extends "base.html" %}

{% block content %}
  <div id="github-languages">
  <form method="GET" action".">
    <legend>Github activity language graph</legend> 
    <select name="archive">
      <option value="">Select an archive</option>
      {% for a in archives %}
        <option value="{{ a }}" {% if a == archive %}selected{% endif %}>{{ a }}</option>
      {% endfor %}
    </select><br/>
    <button class="btn" type="submit">Load archive</button>
  </form> 
  <br/>
  {% if data %}
    <h5>Primary languages for which there was an activity on {{ archive }}</h5>
    <div class="graph" data-jsonsrc={{ jsonfile }}></div>
  {% endif %}
</div>
{% endblock content %}

{% if data %}
  {% block extrajs %}
    <script type="text/javascript" src="{{ url_for('static', filename='d3utils/barChart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='activity_languages.js') }}"></script>
  {% endblock %}
{% endif %}

