{% extends "base.html" %}

{% block content %}
  <div id="github-languages" class="content">
    {% include "_gh_archive_form.html" %}
    <br/>
    {% if data %}
      <h5>Primary languages for which there was an activity on {{ archive }}</h5>
      <div class="graph" data-jsonsrc={{ jsonfile }}></div>
    {% endif %}
  </div>
{% endblock content %}

{% if data %}
  {% block extrajs %}
    <script type="text/javascript" src="{{ url_for('static', filename='d3utils/barChart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='activity_languages.js') }}"></script>
  {% endblock %}
{% endif %}

