{% extends "base.html" %}

{% block content %}
  <div id="github-activity-types">
    {% if data %}
      <h5>Various types of Github activity</h5>
      <div class="graph" data-jsonsrc={{ jsonfile }}></div>
    {% endif %}
</div>
{% endblock content %}

{% if data %}
  {% block extrajs %}
    <script type="text/javascript" src="{{ url_for('static', filename='d3utils/pieChart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='d3utils/legend.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='activity_types.js') }}"></script>
  {% endblock %}
{% endif %}

