{% extends "base.html" %}

{% block content %}
  <div id="github-languages">
  <form method="GET" action"."> 
    <legend>Github activity language graph</legend> 
    <select name="archive">
      <option value="">Select an archive</option>
      {% for a in archives %}
        <option value="{{ a }}" {% if a == archive %}selected{% endif %}>{{ a }}</option>
      {% endfor %}
    </select><br/>
    <button class="btn" type="submit">Load archive</button>
  </form> 
  <br/>
  {% if data %}
    <h5>Primary languages for which there was an activity on {{ archive }}</h5>
    <dl> 
      <dt>Total languages</dt> 
      <dd>{{ total_languages }}</dd> 
    </dl> 
    <div class="graph"></div>
  {% endif %}
</div>
{% endblock content %}

{% block extrajs %}
<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<script type="text/javascript">
  {% if data %}
    Davis.github.languages("#github-languages .graph", {{ json_languages|safe }});
  {% endif %}
</script>
{% endblock %}

